name: 'PFM-Custom-Container-Build'

on:
  workflow_dispatch:
  workflow_call:
  repository_dispatch:
    types: [pfm-build-event]
  # push:
    # branches:
      # - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  Call-build-workflow:
    secrets: inherit
    permissions:
      contents: read
      packages: write
    uses: PFM-PowerForMe/PFM-Action-Public/.github/workflows/custom-container-build.yml@main
    with:
      build_pull_source: false
      build_use_tag: false
      build_versions: '["8.5", "8.4", "8.2", "8.1", "8.0", "7.4"]'
      clean_keep_versions: 180
      build_checkout_ref: main
      dispatch_repos: '["PFM-PowerForMe/STD-WordPress", "PFM-PowerForMe/STD-LskyPro"]'